.p {
    width: 20%;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-card {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;

}

.p-browser {
    height: 8%;
    background-color: #e6e6e6;
    padding-left: 8px;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.p-img {
    width: 100%;
    transition: all 10s ease;
}

.p:hover .p-img {
    transform: translateY(-50%);
}


.p-name {
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 800;
}

@media screen and (max-width : 480px) {
    .p {
        width: 40%;
        height: 25vh;
    }

    .p-name {
        font-size: 18px;
    }

}