.c {
    height: 100vh;
    position: relative;
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: #4e2285;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.c-left {
    flex: 1;

}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-size: 60px;
    width: 80%;
}

.c-info-item {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    width: 70%;
    margin: 80px 0px 80px 50px;
    position: relative;
}

.c-icon {
    width: 40px;
    height: 40px;
    position: absolute;
}

.c-icon-text {
    font-size: 20px;
    font-weight: 300;
    width: 70%;
    position: absolute;
    top: -15px;
    left: 60px;
}

.c-desc {
    font-size: 24px;
    padding-bottom: 20px;
}

.c-desc-head {
    font-size: 28px;
    font-weight: bolder;
    color: #4e2285
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
}

.c-button {
    border: none;
    padding: 15px;
    background-color: #4e2285;
    color: white;
    font-weight: 500;
    border-radius: 10%;
    cursor: pointer;
}

.c-button:hover {
    background-color: #7745b5;
}

@media screen and (max-width : 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }

    .c-title {
        font-size: 30px;
    }

    .c-left {
        padding-bottom: 50px;
    }

    .c-info-item {
        margin: 25px 0px;
        padding: 10px;
        width: 100%;
    }

    .c-icon {
        padding-right: 10px;
    }

    .c-icon-text {
        padding-top: 10px;
    }

    .c-desc {
        display: none;
    }

    form {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;

    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0px;
    }

    .c-button {
        padding: 10px;

    }
}